{% extends "base.html" %}

{% block content %}
    <div class="container">
        <p class="intro-text">Manage your pantry efficiently with the following options:</p>
        
        <div class="option-links">
            <a href="{{ url_for('add_grocery') }}" class="option card">Add New Grocery</a>
            <a href="{{ url_for('update_grocery') }}" class="option card">Update Grocery</a>
            <a href="{{ url_for('stock_levels') }}" class="option card">View Grocery Stocks</a>
            <a href="{{ url_for('delete_grocery') }}" class="option card">Delete or Unassign Grocery</a>
        </div>
        
        <p class="instructions">To get started, select an option from the list above.</p>
    </div>
{% endblock %}